@namespace  CalcOfCarma.Shared.Components
@using CalcOfCarma.Shared.Services
@inject LanguageService Lang
<header class="main-header">
    <div class="left-block">
        <ThemeToggle/>
    </div>

    <div class="header-logo">
        <span class="logo-text">Karma meter</span>
        <span class="sublogo">calculate your carma</span>
    </div>
    <div class="header-actions">
        <button class="action-btn lang-btn" @onclick="ToggleLanguage">
            @Lang.CurrentLanguage.ToUpper()
        </button>


        <button class="action-btn auth-toggle">
            @Lang["header_btn_login"]
        </button>
    </div>
</header>